[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"
pylama = "*"
v = {editable = true,version = "*"}

[packages]
python-snappy = "*"
requests = "*"
snakebite = "*"
yaspin = "*"
numpy = "*"
tqdm = "*"
tensorflow = "==2.0.0-beta1"
matplotlib = ">=3.0.0"
pyspark = "*"
findspark = "*"
urllib3 = ">=1.24.2"
fastavro = "*"
minio = "*"
jupyterlab = "*"
pandas = "*"
pyarrow = "*"
redis = "*"
seaborn = "*"
flask = "*"
bokeh = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
