[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"
pylama = "*"
v = {editable = true,version = "*"}
yapf = "*"
black = "*"

[packages]
python-snappy = "*"
requests = "*"
snakebite = "*"
yaspin = "*"
numpy = "*"
tqdm = "*"
tensorflow = ">=2.0.0"
matplotlib = ">=3.0.0"
pyspark = "*"
findspark = "*"
urllib3 = ">=1.24.2"
fastavro = "*"
minio = "*"
jupyterlab = "*"
pandas = ">=1.0.0"
pyarrow = "*"
redis = "*"
seaborn = "*"
flask = "*"
bokeh = "*"
grpcio-tools = "*"
grpcio = "*"
selenium = "*"
pillow = ">=6.2.0"
python-dotenv = "*"
colorama = "*"
coloredlogs = "*"
plotly = "*"
sklearn = "*"
graphviz = "*"
tabulate = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
